<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_application_2">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:label="flutter_application_2"
        android:icon="@mipmap/ic_launcher">
        <!-- Votre clé API Google Maps ici -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkuY-0w97soTh_d-0RI9lPunJ1dS8aGKI"/>
        <!-- Autres configurations -->
    </application>
</manifest>